<mat-toolbar color="primary">
  <span>新建退仓库通知单</span>
  <div class="navbar-right">
    <button mat-flat-button color="primary">导入明细</button>
    <button mat-flat-button color="primary">保存</button>
    <button mat-flat-button color="primary" [disabled]="true">删除</button>
    <button mat-flat-button color="primary" [disabled]="true">提交</button>
    <button mat-flat-button color="primary">关闭</button>
    <button mat-icon-button>
      <mat-icon svgIcon="more_vert"></mat-icon>
    </button>
  </div>
</mat-toolbar>
